body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  text-align: center;
  background: #0a5200;
}

.container {
  position: relative;
  margin: 80px auto;
  padding: 20px 20px 20px;
  width: 93%;
  background: #f3f3f3;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.container:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

h1{
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #e3e3e3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}


nav{
  margin: 0px 0px 100px 0px;
}
ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 14px 20px 17px 20px;
  border-radius: 16px;
  background: white;
  color: black;
  border-bottom: 1px solid #cfcfcf;

}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: white;

  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
ul li a {
  text-decoration:none;
  color: black;
}
ul li:hover {
  background: #c7c7c7;
  color: #fff;
  text-decoration: underline;
}
ul li div ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li div ul li { 
  font: 12px/18px sans-serif;
  background: #e6e6e6; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;

}
ul li div ul li:hover {
  background: #bdbdbd;
}
ul li:hover div ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.border {
  border-bottom: 1px solid #D1D1D1;
  color: #8C4600;
}

footer {
  margin: 260px 0px 0px 0px;
  font-size: 12px;
  color: white;
  text-shadow: 0 1px #2a85a1;
  text-align: center;
}



.eventinformation {
  width: 600px; 
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;  
  background: #e1e1e1;
  border: 5px solid #ccc;
  text-align:center; 
}
.eventname {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.eventtime {
  margin-bottom: 10px;
}
.eventphoto {
  margin-top: 10px;
  width: 400px;
  height: auto;
}