body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 15px;
  text-align: center;
  background: #9bff94;
}
h1{
  font-weight: bold;
  color: #b0b0b0;
  text-shadow: 0 2px #8a8a8a;
}


nav{
  margin: 0px 0px 100px 0px;
}
ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 14px 20px 17px 20px;
  border-radius: 16px;
  background: white;
  color: black;
  border-bottom: 1px solid #cfcfcf;

}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: white;

  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
ul li a {
  text-decoration:none;
  color: black;
}
ul li:hover {
  background: #e6e6e6;
  color: #fff;
  text-decoration: underline;
}
ul li div ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li div ul li { 
  font: 12px/18px sans-serif;
  background: #e6e6e6; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;

}
ul li div ul li:hover {
  background: #bdbdbd;
}
ul li:hover div ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.border {
  border-bottom: 1px solid #D1D1D1;
  color: #8C4600;
}